stages:
  - test
  - deploy

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

pre-commit:
  stage: test
  needs: []
  image: musicscience37/pipenv:noble
  variables:
    POETRY_CACHE_DIR: ${CI_PROJECT_DIR}/.poetry-cache
  script:
    - poetry config virtualenvs.in-project true
    - poetry env use 3.13
    - poetry install
    - poetry run pre-commit run --all-files
  cache:
    - key:
        prefix: poetry-linux
        files:
          - poetry.lock
      paths:
        - .poetry-cache
  interruptible: true

spell check:
  stage: test
  needs: []
  image: node
  script:
    - npm install -g cspell
    - cspell lint
      "**/*.py"
      "**/*.txt"
      "**/*.md"
      "**/*.rst"
      "**/*.yaml"
      "**/*.yml"
      "**/*.json"
      "**/*.toml"
      "**/*.sh"
      "**/*.bash"
  interruptible: true

build document:
  stage: test
  needs: []
  image: musicscience37/pipenv:noble
  variables:
    POETRY_CACHE_DIR: ${CI_PROJECT_DIR}/.poetry-cache
  script:
    - poetry config virtualenvs.in-project true
    - poetry env use 3.13
    - poetry install
    - ./docs/update_apidoc.sh
    - poetry run sphinx-build -b html -W -q docs/source docs/build
  cache:
    - key:
        prefix: poetry-linux
        files:
          - poetry.lock
      paths:
        - .poetry-cache
  artifacts:
    paths:
      - docs/build
  interruptible: true

pages main:
  stage: deploy
  needs:
    - build document
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
  image: alpine
  script:
    - mv docs/build public
  artifacts:
    paths:
      - public
  pages: true
